html {
  font-size: 16px;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  font-family: "Readex Pro", sans-serif;
  overflow-x: hidden;
}

.container {
  min-height: 100vh;
}
.container > * {
  width: 100%;
}
.container :is(header, main, footer) h1, .container h2, .container p {
  line-height: 1.5em;
}
.container li {
  cursor: pointer;
}
.container ul {
  list-style: none;
}
.container .btn {
  display: inline-block;
  padding: 1.2em;
  background-color: #111;
  cursor: pointer;
  border-radius: 0.25em;
  color: #fff;
  width: 80%;
}
.container .btn span {
  color: #949494;
}
.container .img {
  width: 80%;
  height: auto;
  max-width: 60em;
  margin: 0 auto;
}
.container p {
  color: #111;
  opacity: 0.7;
}
.container .header, .container .main, .container .footer {
  max-width: 75em;
  margin: 0 auto;
}
.container header {
  background: url(../Assets/Background.png) no-repeat center;
  background-size: cover;
  min-width: 100%;
}
.container .header {
  text-align: center;
}
.container .header > *:not(img) {
  padding: 1.5rem;
}
.container .header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container .header nav .navbar .toggle-menu {
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 600px) {
  .container .header nav .navbar .toggle-menu {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  .container .header nav .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.container .header nav .navsub {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
  gap: 2em;
  display: none;
  transition: all 0.5s ease-in-out;
  left: -100%;
}
@media screen and (min-width: 600px) {
  .container .header nav .navsub {
    display: flex;
    left: 0;
  }
}
@media screen and (max-width: 600px) {
  .container .header nav {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .container .header nav li {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.container .header__text {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .header__img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container .main {
  padding: 3.5em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
  align-items: center;
  gap: 1.25em;
  width: 100%;
  height: auto;
}
.container .main h2 {
  font-size: 1.8rem;
}
.container .main__text {
  padding: 1em;
}
.container .main .btn {
  width: auto;
}
@media screen and (max-width: 787px) {
  .container .main__img {
    grid-row: 1;
  }
}
.container .footer {
  padding: 1em 1.5em;
}
.container .footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: none;
  gap: 1.5em;
  padding-left: 0;
}
.container .footer ul li {
  opacity: 0.7;
}

/*# sourceMappingURL=styles.css.map */
